<!DOCTYPE html>
<html>
    <head>
        <title>Ruby on Rails Tutorial Sample App | Home</title>
    </head>
    <body>
        <h1>Sample App</h1>
        <p>
    This is the homepage for the sample app
        </p>
    </body>
</html>